body{font-family:'Lato', sans-serif;font-family:'Poppins', sans-serif;}
@media (min-width:1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl{max-width:1170px !important;}
}
h1,h2,h3,h4,h5,h6{margin:0px;}

.navbar .container  {  display: block !important;}
.nav-inner {
    width: 100%;
}
.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    float: left;
	padding: 0px 0px;
}
div#navbarSupportedContent {
    float: right;
}
.nav-innertop {
    padding: 20px 0px;
}
.login-botton-area a {
    background-color: #ffff;
    color: #da475d;
    font-size: 16px;
      padding: 6px 12px;
    border-radius: 30px;
	    text-decoration: none;
	    margin-right: 10px;
}
.login-botton-area a i {
    font-size: 18px;
    padding-right: 7px;
}
.login-botton-area a:hover{background-color: #000;  color: #fff;}
.register-botton-area a {
    background-color: #ffff;
    color: #da475d;
    font-size: 16px;
        padding: 6px 12px;
    border-radius: 30px;
	    text-decoration: none;
}
.register-botton-area a i {
    font-size: 18px;
    padding-right: 7px;
}
.banner-carousel-section .carousel-item img {
    width: 100%;
}
.register-botton-area a:hover{background-color: #000;  color: #fff;}

ul.navbar-nav.ml-auto.nev-clr:last-child li{padding-right:0px;}

.carousel-item{background:no-repeat center center scroll;background-size:cover;width:100%;}
.fixed-top{position:absolute;top:0;right:0;left:0;z-index:1030;}
.carousel-caption{bottom:170px;}

.rgt-btn a { background-color: #fff; color: red; font-size: 20px; padding: 14px 41px; border-radius: 41px;    text-decoration: none;box-shadow: 0px 3px 6px #000000c7; }
.rgt-btn a:hover{background-color: #da475d; color:#fff;}

.rgt-btn p { font-size: 18px; margin-bottom: 50px; color: #fff !important; }
.rgt-btn h2{font-weight: bold; font-size:55px;text-shadow:0px 3px 0px #00000069;font-family:'Poppins', sans-serif;text-transform: uppercase;}
ul.navbar-nav.ml-auto.nev-clr li a{color:white !important;    font-size: 16px;}
ul.navbar-nav.ml-auto.nev-clr li a:hover{color: #da475d !important;}
ul.navbar-nav.ml-auto.nev-clr li{padding:0px 20px;}.map-image img{width:100%;margin-top:30px;}

.area-btn {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

/**********************FREIGHT-BASKET-SECTION-START-HERE**********************/
.first-image-1{background-image:url(../images/mp-3.png);width:100%;background-size:contain;background-repeat:no-repeat;}
.basket-option h3 {color: #da475d; font-size: 30px; font-weight: 800;font-family: 'Poppins', sans-serif;}
.basket-option h3 span{color:black;font-weight:normal;font-family: 'Poppins', sans-serif;}
.line{background:#da475d;width:36px;height:2px;margin-top:10px;}
.basket-option p { font-size: 18px; margin-top: 10px; font-weight: 400; color: #42495d;font-family: 'Poppins', sans-serif; }
.basket-option h6 { font-size: 20px; font-weight: 600; color: #da475d; }
.icon-list ul li a { padding: 16px 30px;  background-color: #da475d; border-radius: 30px; position: relative; text-decoration: none; font-size: 15px; color: #fff;font-family: 'Poppins', sans-serif;}
.icon-list ul li a:hover{background-color: #000;}
.icon-list ul li { display: inline-block; padding: 0px 4px;    vertical-align: middle;}
.icon-list ul{float:left;list-style-type:none;padding:0;margin-top:30px;}
li.adjust-line{margin-left:0 !important;}
.icon-list-2 { float: left;}
.icon-list-2 ul{padding:0px; margin:0px; list-style:none;}
.icon-list-2 ul li { display: inline-block;     padding: 0px 29px;}
.icon-list-2 ul li h5{text-align:center;margin-top:10px;font-weight:500;font-size:18px;}
.freight-basket-section{width:100%;padding: 100px 0px;position:relative;background-color: #fafcff;}
.freight-basket-section:before { content: "";  background-image: url(../images/freight-basket.png); top: 7px; left: 0; position: absolute; display: inline-block; width: 134px;height: 349px;}
.freight-basket-section:after { content: "";  background-image: url(../images/map.png); top: 7px; right: 0; position: absolute; display: inline-block; width: 895px;height: 454px;}
/**********************FREIGHT-BASKET-SECTION-END-HERE**********************/




/**********************LAST-FREIGHT-RATES-SECTION-START-HERE**********************/
.last-freight-rates-section { width: 100%; padding: 100px 0px; position: relative; background-image: url(../images/last-freight-rates-bg.jpg); background-size: cover; background-repeat: no-repeat; background-position: center center; }
.last-freight-heading {  background-color: #da475d; padding: 10px 0px; border-radius: 8px; text-align: center;position:relative;}
.last-freight-heading:before { content: ""; width: 0; height: 0; border-left: 19px solid transparent; border-right: 19px solid transparent; border-top: 19px solid #da475d; left: 41%; position: absolute; z-index: 999; bottom: -15px; }

.last-freight-heading h3 { color: #fff;text-transform: uppercase; font-weight: 800;font-family: 'Lato', sans-serif;}

.last-freight-bottom {width: 100%;      margin-top: 41px;
    border-radius: 8px;    padding: 20px;}
	
.last-freight-bottom .col-md-12{
  display: inline-block;
  margin-left:-10px;
}
.last-freight-bottom .col-md-12 img{
  width:100%;
  height:auto;
}
  
.last-freight-bottom .carousel-control-prev-icon,
.last-freight-bottom .carousel-indicators li,
.last-freight-bottom .carousel-control-next-icon{}

.last-freight-bottom span.carousel-control-prev-icon {position: relative;bottom: -173px; right: 12px;}

.last-freight-bottom span.carousel-control-next-icon { position: relative;      bottom: -175px;}
.last-freight-bottom .carousel-indicators { bottom: -23px !important;    display: none;}

.last-freight-bottom .carousel-inner { position: relative;  width: 100%; overflow: hidden; height: 475px;}


.sea-freight-area { position: relative; background-color: rgba(0, 0, 0, 0.6509803921568628);    padding: 20px;
    border-radius: 8px;    height: 429px;}
.sea-freight-sea { text-align: center;}	

.sea-freight-country-name {text-align: center;}
.sea-freight-country-name ul { padding: 0px; margin: 0px;list-style: none;}
.sea-freight-country-name ul li {display: inline-block;padding: 0px 2px;}
.sea-freight-country-name ul li h5{ font-size: 20px; text-transform: uppercase; color: #fff;font-family:'Poppins', sans-serif;}

.sea-freight-text { text-align: center;margin: 16px 0px;}
.sea-freight-text h5 {  font-size: 20px; text-transform: uppercase; color: #fff;font-family:'Poppins', sans-serif;}
.sea-freight-text ul {  margin: 0px;padding: 0px; list-style: none;}
.sea-freight-text li {  padding: 5px 0px;}
.sea-freight-text li.st-usd { margin-top: 15px;}

.sea-freight-booking-button {text-align: center;    position: relative;}
.sea-freight-booking-button a { background-color: #da475d; color: #fff; /* padding: 20px 20px; */ display:inline-block; width: 100%; max-width: 171px; margin: 0 auto; border-radius: 50px; height: 58px; line-height: 58px;  text-decoration:none;    position: absolute;
        bottom: -75px;      transform: translateX(-50%);}
.sea-freight-booking-button a:hover{ background-color: #fff; color:#000;}
/**********************LAST-FREIGHT-RATES-SECTION-END-HERE**********************/


/**********************OUR-LOGISTICS-PARTNERS-SECTION-START-HERE**********************/
.our-logistics-partner-section {width:100%; background-color:#fff;    padding: 100px 0px; }
.logistics-heading { text-align: center;}
.logistics-heading h2 { color: #000;  text-transform: uppercase; font-size: 30px; font-family: 'Poppins', sans-serif;}
.logistics-border-line {   width: 100%; max-width: 77px;  height: 3px; background-color: #da475d; margin: 0 auto; margin-top: 10px;}
.logistics-heading p { color: #42495d; font-size: 16px;font-family:'Poppins', sans-serif; padding: 19px 19%;}

.our-logistics-partner-carousel h6.sub-title { margin-bottom: 15px; font-size: 18px;color: #555555;}

.our-logistics-partner-carousel .footer-total { margin: 15px 0px 32px 0px;}
.our-logistics-partner-carousel .footer-total p {  margin-bottom: 0px;}
.footer-total h6 {font-weight: 800; margin-bottom: 10px;}
.our-logistics-partner-carousel .sea-freight-country-name.cuntry-chnage li h5 {  color: black;}

.our-logistics-partner-carousel img.add-color { filter: contrast(0.5);}

.our-logistics-partner-carousel .controls-top.btn-adjust {position: ABSOLUTE; top: 50%; z-index: 1;WIDTH: 100%;}

.our-logistics-partner-carousel a.btn-floating.button-left { position: absolute; left: 0;}
.our-logistics-partner-carousel a.btn-floating.button-right { position: absolute;right: 0;}
.our-logistics-partner-carousel .carousel-item.itme-set { height: 100%;margin-top: 20px;}

.our-logistics-partner-carousel img.card-img-top.img-set { width: 200px; margin: auto; margin-top: 20px; margin-bottom: 20px; max-height: 130px; height: 130px;}

.card-image-bg { text-align: center; background-color: #fff;  margin: 30px 30px 0px 30px;}
.our-logistics-partner-carousel img.card-img-top.img-set {  width: 200px; margin: auto;
margin-top: 20px; margin-bottom: 0px;}
.our-logistics-partner-carousel .card-body { text-align: center;padding-bottom: 0px;}
.sub-conutry { position: relative;}

.our-logistics-partner-carousel .line-1 { width: 100%;max-width: 77px; height: 2px; background-color: #da475d; margin: 0 auto;  margin-top: 10px; margin-bottom: 20px;}
.our-logistics-partner-carousel a.btn.btn-primary.btn-view {  background-color: #da475d; border-color: #007bff;color: #fff !important;  border: none; border-radius: 40px; padding: 10px 30px;transform: translateX(-50%);position: absolute !important; bottom: -52px;}
.our-logistics-partner-carousel a.btn.btn-primary.btn-view:hover{ background-color: #000;}
.our-logistics-partner-carousel .card.mb-2.size-adjust { max-height: 100%;height: 100%; background: #f9f9f9 !important;    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6588235294117647);}
.our-logistics-partner-carousel a.btn-floating {border: 1px solid; border-radius: 50%; background: #8cbfff6e; width: 60px; height: 60px; line-height: 60px; text-align: center;}

/**-------------- Start Slider ---------------**/
/*.test-carousel .slide img {*/
/*    width: 500px;*/
/*}*/
/*#slide-1-radio:checked ~ .slides .slide:nth-child(3) {*/
/*    width: 30%;*/
/*}*/
/*#slide-1-radio:checked ~ .slides .slide:nth-child(2) {*/
/*    width: 30%;*/
/*}*/
/*#slide-1-radio:checked ~ .slides .slide:first-child {*/
/*     width: 40%;*/
/*}*/


.our-logistics-partner-carousel #slider { width: 100%; height: 400px; position: relative; margin: auto; padding: 100px 0 }
.our-logistics-partner-carousel #slider input{display: none}
.our-logistics-partner-carousel #slider .slides {/* position:absolute;*/ width: 100%; /*height: 400px*/ }
.our-logistics-partner-carousel #slider .slides .slide { width: 33.33333333%; height: 100%; float: left; filter: alpha(opacity=70); /* for IE */ opacity: .7 }
.our-logistics-partner-carousel #slider .arrow label { display: inline-block; position: absolute; top: 50%; left: 0; z-index: 0; width: 100px; height: 45px; margin-top: -22.5px; text-align: center; display: none; }
.our-logistics-partner-carousel #slider .next-arrow label{right: 0; left: auto}
  #slider .arrow label:hover .thumb { -webkit-transform: rotateY(0); -ms-transform: rotateY(0); transform: rotateY(0); -webkit-transition: transform .5s ease-in; transition: transform .5s ease-in}
#slider .arrow label i { display: block; width: 45%; height: 45px;     background-color: rgba(45, 155, 224, 0.7686274509803922); color: #fff; line-height: 45px; border-radius: 50%; top: 0px; position: relative; }
#slider .arrow label .thumb { display: block; width:60%; height: 45px }
#slider .prev-arrow label i{float: left}
#slider .arrow label i.fa.fa-arrow-left {  left: 158px;}
#slider .prev-arrow label .thumb { float: right; -webkit-transform: rotateY(-90deg); -ms-transform: rotateY(-90deg); transform: rotateY(-90deg); -webkit-transform-origin: left center; -ms-transform-origin: left center; transform-origin: left center; }
#slider .next-arrow label i{float: right}
#slider .next-arrow label i.fa.fa-arrow-right { right: 146px;}
#slider .next-arrow label .thumb { float: left; -webkit-transform: rotateY(90deg); -ms-transform: rotateY(90deg); transform: rotateY(90deg); -webkit-transform-origin: right center; -ms-transform-origin: right center; transform-origin: right center; }
#slide-1-radio:checked ~ .slides .slide:first-child { position: relative; z-index: 1; box-shadow: 0 1px 20px rgba(255,255,255,.7); filter: alpha(opacity=100); /* for IE */ opacity: 1; -webkit-transform: translateX(72%) scale(1.2); -ms-transform: translateX(72%) scale(1.2); transform: translateX(72%) scale(1.2); -webkit-transition: transform .7s ease-in-out; transition: transform .7s ease-in-out;width: 40%; }
#slide-1-radio:checked ~ .slides .slide:nth-child(2) { width: 30%; -webkit-transform:translateX(-116%);; -ms-transform: translateX(-116%);; transform: translateX(-116%);; -webkit-transition: transform .5s ease-in-out; transition: transform .5s ease-in-out; }
#slide-1-radio:checked ~ .slides .slide:nth-child(3) {  width: 30%; transform: translateX(-18%);}
.card-body p.card-text { font-size: 13px !important;}
#slide-1-radio:checked ~ .prev-arrow #prev-3-arrow,
#slide-1-radio:checked ~ .next-arrow #next-2-arrow{ display: inline-block}

.slide .card-body .sub-conutry{display:none !important;}
#slide-1-radio:checked ~ .slides .slide:first-child .sub-conutry{display:block !important;}



#slide-2-radio:checked ~ .slides .slide:nth-child(2) { position: relative; z-index: 1; box-shadow: 0 1px 20px rgba(255,255,255,.7); filter: alpha(opacity=100); /* for IE */ opacity: 1; -webkit-transform: translateX(0) scale(1.2); -ms-transform: translateX(0) scale(1.2); transform: translateX(0) scale(1.2); -webkit-transition: transform .7s ease-in-out; transition: transform .7s ease-in-out }
#slide-2-radio:checked ~ .slides .slide:first-child { -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); -webkit-transition: transform .5s ease-in-out; transition: transform .5s ease-in-out }
#slide-2-radio:checked ~ .prev-arrow #prev-1-arrow, #slide-2-radio:checked ~ .next-arrow #next-3-arrow { display: inline-block }
.slide .card-body .sub-conutry{display:none !important;}
#slide-2-radio:checked ~ .slides .slide:nth-child(2) .sub-conutry{display:block !important;}


#slide-3-radio:checked ~ .slides .slide:last-child { position: relative; z-index: 1; box-shadow: 0 1px 20px rgba(255,255,255,.7); filter: alpha(opacity=100); /* for IE */ opacity: 1; -webkit-transform: translateX(-100%) scale(1.2); -ms-transform: translateX(-100%) scale(1.2); transform: translateX(-100%) scale(1.2); -webkit-transition: transform .7s ease-in-out; transition: transform .7s ease-in-out }
#slide-3-radio:checked ~ .slides .slide:nth-child(2) { -webkit-transform: translateX(100%); -ms-transform: translateX(100%); transform: translateX(100%); -webkit-transition: transform .5s ease-in-out; transition: transform .5s ease-in-out }
#slide-3-radio:checked ~ .prev-arrow #prev-2-arrow, #slide-3-radio:checked ~ .next-arrow #next-1-arrow { display: inline-block }
.slide .card-body .sub-conutry{display:none !important;}
#slide-3-radio:checked ~ .slides .slide:last-child .sub-conutry{display:block !important;}



h4.card-title { font-size: 18px !important; }
.sea-freight-country-name.cuntry-chnage li h5 { font-size: 17px !important; }
h6.stu-class { text-transform: uppercase; font-size: 15px !important; margin-top: 10px; }
.footer-total h6 { font-weight: bold;margin-bottom: 0; font-size: 17px; color: #555555; }
.card.mb-2.size-adjust { width: 100%; position: relative; }

/**-------------- End Slider ---------------**/

/**********************OUR-LOGISTICS-PARTNERS-SECTION-END-HERE**********************/




/**********************OUR-PACKAGES-SECTION-START-HERE**********************/
.our-packages-section { width: 100%; padding: 100px 0px; position: relative; background-image: url(../images/our-packages-bg.png); background-size: cover; background-repeat: no-repeat; background-position: center center;  }
.packages-heading { text-align: center;}
.packages-heading h2 { color: #fff;  text-transform: uppercase; font-size: 30px; font-family: 'Poppins', sans-serif;}
.packages-border-line {   width: 100%; max-width: 77px;  height: 3px; background-color: #da475d; margin: 0 auto; margin-top: 10px;    margin-bottom: 40px;}
.freight-booking-left { margin-right: 35px;}
.freight-booking-right{ margin-left: 35px;}
.packages-heading p { color: #42495d; font-size: 16px;font-family:'Poppins', sans-serif; padding: 19px 19%;}

.freight-booking-left-inner {  background-color: #da475d;  padding: 18px 0px; text-align: center;}
.freight-booking-left-inner h4 {color: #fff; font-weight: 600; font-size: 24px;}
.freight-booking-left-inner-bottom { background-color: rgba(3, 96, 177, 0.59); text-align: center;}
.freight-booking-left-inner-bottom h4 { font-size: 60px; font-weight: bold; color: #fff; margin-top: 20px; display: inline-block; }
.freight-booking-left-inner-bottom h4 span {font-size: 35px;}
.freight-booking-left-inner-bottom p { color: #fff;  font-size: 16px; text-transform: uppercase; margin: 23px 0px;}

.land-air { margin: 50px 0px 0px 0px;}
.land-air ul {  padding: 0px; margin: 0px;list-style: none;}
.land-air ul li {  display: inline-block; color: #fff; font-size: 16px; text-transform: capitalize;}
.land-book-now-button { margin: 40px 0px 97px 0px; display: inline-block; width: 100%;}
.land-book-now-button a { background-color: #da475d; width: 100%; max-width: 200px; display: inline-block; height: 50px; line-height: 50px; color: #ffff; border-radius: 30px; font-size: 16px; text-decoration:none; }
.land-book-now-button a:hover{background-color: #000;}
/**********************OUR-PACKAGES-SECTION-END-HERE**********************/




/**********************ABOUT-FREIGHT-BASKET-SECTION-START-HERE**********************/
.about-freight-basket-section { width: 100%; padding: 100px 0px; position: relative; background-image: url(../images/about-freight-basket-bg.png); background-size: cover; background-repeat: no-repeat; background-position: center center;    margin-top: -46px;  }



.about-freight-basket-heading{}
.about-freight-basket-heading h2 { color: #000000; text-transform: capitalize; font-size: 35px; font-family: 'Poppins', sans-serif; }
.about-freight-border-line{width: 100%; max-width: 77px; height: 3px; background-color: #da475d; margin-top: 10px;}
.about-freight-paragraph{}
.about-freight-paragraph p { font-size: 16px; color: #585b5c; line-height: 32px;}
.about-freight-basket-button a {     background-color: #da475d; width: 100%;  max-width: 177px; display: inline-block; height: 58px; line-height: 57px;color: #ffff; border-radius: 30px; font-size: 16px; text-align: center; text-decoration:none;}
.about-freight-basket-button a:hover{background-color: #000;}
/**********************ABOUT-FREIGHT-BASKET-SECTION-END-HERE**********************/


/**********************PLATFORM-FEATURES-SECTION-START-HERE**********************/
.platform-features-section { width: 100%;     padding: 100px 0px 18px 0px; position: relative; background-image: url(../images/platform-featurs-bg.png); background-size: cover; background-repeat: no-repeat; background-position: center center;     }
.platform-features-heading h2 { color: #000; text-transform: uppercase;font-size: 45px;font-family: 'Montserrat', sans-serif; font-weight: bold; text-align: center;}
.platform-features-border-line{width: 100%; max-width: 77px;height: 3px;background-color: #000; margin: 0 auto; margin-top: 10px;}
.platform-features-heading p {color: #000; font-size: 16px; padding: 19px 14%;font-family: 'Montserrat', sans-serif; font-style: italic; font-weight: 300;}
.platform-features-area { background-color: #2f9dfe; padding: 20px;    text-align: center;border-radius: 8px;}
.platform-features-area-image { margin-top: 36px;}
.platform-features-area h4 {  font-size: 30px; color: #fff;font-weight: 700;font-family: 'Poppins', sans-serif;    margin-bottom: 34px; margin-top: 30px;}
.platform-features-area p { font-size: 16px; color: #fff;font-family: 'Poppins', sans-serif;}
.platform-features-area p.we-search { margin-bottom: 40px;}
.platform-features-button { text-align: center; margin: 60px 0px;}
.platform-features-button a{background-color: #da475d;width: 100%;max-width: 177px; display: inline-block;  height: 58px; line-height: 57px; color: #ffff; border-radius: 30px; font-size: 16px; text-align: center; text-decoration:none;}
.platform-features-button a:hover{background-color: #000;}
/**********************PLATFORM-FEATURES-SECTION-END-HERE**********************/






/**********************FOOTER-SECTION-START-HERE**********************/
.footer-section{width:100%; padding: 24px 0px 100px 0px; position: relative; background-image: url(../images/footer-bg-min.png); background-size: cover; background-repeat: no-repeat; background-position: center center; }

.footer-section:before{ content: ""; background-image: url(../images/footer-left-shap.png);     top: -71px; left: 0;  position: absolute; display: inline-block;  width: 181px;  height: 437px;}
.footer-section:after{ content: ""; background-image: url(../images/footer-right-shap.png);     top: -71px; right: 0;  position: absolute; display: inline-block;  width: 186px;  height: 331px;}

.our-newsletter-area { text-align: center;}

.our-newsletter-form-area {padding: 80px 0;}
.our-newsletter-form-area .content {max-width: 650px;margin: 0 auto;text-align: center;position: relative;z-index: 2; }
.our-newsletter-form-area .content h2 {color: #fff; margin-bottom: 40px;  font-size: 35px; text-transform: capitalize }
.our-newsletter-form-area .content .form-control {    height: 60px;border-color: #ffffff;border-radius: 50px;padding-left: 54px;}
.our-newsletter-form-area .content.form-control:focus {box-shadow: none;border: 2px solid #243c4f;}
.our-newsletter-form-area .content .btn {  min-height: 60px; border-radius: 0; background: #da475d; color: #fff; font-weight: 600; padding: 10px 45px; border-radius: 50px;}
.our-newsletter-form-area .content .btn:hover{background: #000;}
.our-newsletter-form-area span.input-group-btn { margin-left: 0px; position: absolute; right: 0;}

.blank-space { padding: 25px 0px;}
.footer-section-inner.quick-nav-top { padding-left: 26%;}
.footer-section-inner h5 { font-size: 22px;color: #fff; margin-bottom: 22px;}
.footer-section-inner ul {  padding: 0;list-style-type: none;  width: 100%;  margin: 0px;}
.footer-section-inner ul li { padding: 7px 0px;}

.footer-section-inner p {  font-size: 16px;  color: #fff;margin-top: 25px;}
.footer-section-inner ul li a { color: #fff;  font-size: 16px;font-family: 'Poppins', sans-serif; text-decoration:none;}
.footer-section-inner ul li a:hover{text-decoration:none; color:#da475d;}
.footer-section-inner ul li h5{color: #fff; font-size: 22px; margin-bottom: 30px;}

 .social-icon ul{padding:0px; margin:0px; list-style:none;}
 .social-icon ul li h5{color: #fff; font-size: 22px; margin-bottom: 30px;}

.social-section ul li{float:left;margin-left:10px;}
.social-section ul li a { background-color: #da475d; /* padding: 5px 22px; */ border-radius: 30px; width: 51px; display: block; text-align: center; height: 27px; line-height: 26px; }
.social-section ul li a:hover{ background-color: #000;}
.social-section ul li a:hover i{color:#fff;}
.social-section ul{float:left;}
.social-section{width:100%;float:left;}

/**********************FOOTER-SECTION-END-HERE**********************/

/**********************COPY-RIGHT-SECTION-START-HERE**********************/
.copy-right-section{width:100%; height:60px; background-color:#000000;}
.copy-right-section-inner {  padding: 18px 0px;}
.copy-right-section-inner p {color: #fff; text-align: center; margin: 0px;}
/**********************COPY-RIGHT-SECTION-END-HERE**********************/









/**********************RESPONSIVE-CSS-START-HERE**********************/
@media (min-width: 320px) and (max-width: 991px){
.carousel-caption { bottom: 0;}	
.freight-basket-section:after{display:none ;}
li.register-button { margin-top: 20px;}
	
.footer-section:before{display:none ;}
.footer-section:after{display:none ;}

.freight-booking-left { margin-right: 0px;  margin-bottom: 30px;}
.freight-booking-right { margin-left: 0px;}
.platform-features-area {margin-bottom: 30px;}
    
    
    
}



@media (min-width: 320px) and (max-width: 480px){
.banner-carousel-section .carousel-item img { width: 100%; min-height: 303px;}
.rgt-btn a { font-size: 16px;padding: 7px 23px;}
.navbar-light .navbar-brand { width: 72%;}
.rgt-btn h2 { font-size: 21px;}
.rgt-btn p {  font-size: 10px;}
div#navbarSupportedContent { float: left !important; width: 100% !important;background-color: rgba(0, 0, 0, 0.8313725490196079);}
.navbar-light .navbar-toggler { background-color: #fff !important;}
.area-btn {
    display: flex;
    justify-content: center;
    width: 100%;
}
.icon-list ul li img {width: 56px;}
.icon-list ul li a{padding: 12px 11px;font-size: 11px;}
.icon-list-2 ul li { display: inline-block; padding: 0px 10px;}
li.register-button { margin-top: 1px;}
.last-freight-bottom{padding: 0px;}
.logistics-heading p{padding: 19px 4%;}
.freight-booking-left-inner-bottom h4{font-size: 50px;}
.about-freight-basket-heading h2{margin-top: 40px;}
.sea-freight-country-name ul li {  padding: 0px 0px;}
.icon-list ul li { display: inline-block;padding: 0px 1px;vertical-align: middle;}
.our-newsletter-form-area .content .input-group{display:block !important;}
.our-newsletter-form-area span.input-group-btn { position: relative;}
.our-newsletter-form-area .content .btn { width: 100%;    margin-top: 15px;}
.footer-section-inner.quick-nav-top { padding-left: 0px !important;}

.our-logistics-partner-carousel .card-body {  padding: 4px;}
h4.card-title {  font-size: 11px !important;}
.card-body p.card-text { font-size: 8px !important;}
.our-logistics-partner-carousel h6.sub-title {font-size: 11px;    margin-bottom: 0px;}
.sea-freight-country-name ul li img { width: 15px;}
h6.stu-class {  font-size: 9px !important;}
.our-logistics-partner-carousel .footer-total {  margin: 4px 0px 32px 0px;}
.sea-freight-country-name.cuntry-chnage li h5 { font-size: 7px !important;}
.footer-total h6 { font-size: 10px;}
.our-logistics-partner-carousel .footer-total p {  font-size: 10px;}
.our-logistics-partner-carousel a.btn.btn-primary.btn-view{   font-size: 9px !important; width: 73px; padding: 8px;}

.card-image-bg { margin: 0px;}
#slider .next-arrow label i.fa.fa-arrow-right {right: 0px;}
#slider .arrow label i.fa.fa-arrow-left {left: 0px;}

}

@media (min-width: 481px) and (max-width: 660px){
.banner-carousel-section .carousel-item img { width: 100%; min-height: 303px;}
.rgt-btn a { font-size: 16px;padding: 7px 23px;}
.navbar-light .navbar-brand { width: 72%;}
.rgt-btn h2 { font-size: 21px;}
.rgt-btn p {  font-size: 10px;}
div#navbarSupportedContent { float: left !important; width: 100% !important;background-color: rgba(0, 0, 0, 0.8313725490196079);}
.navbar-light .navbar-toggler { background-color: #fff !important;}
.area-btn {
    display: flex;
    justify-content: center;
    width: 100%;
}
.last-freight-bottom{padding: 0px;}
.logistics-heading p{padding: 19px 4%;}
.freight-booking-left-inner-bottom h4{font-size: 50px;}
.about-freight-basket-heading h2{margin-top: 40px;}

.sea-freight-country-name ul li {  padding: 0px 0px;}


.icon-list ul li { display: inline-block;padding: 0px 1px;vertical-align: middle;}

.our-newsletter-form-area .content .input-group{display:block !important;}
.our-newsletter-form-area span.input-group-btn { position: relative;}
.our-newsletter-form-area .content .btn { width: 100%;    margin-top: 15px;}

.footer-section-inner.quick-nav-top { padding-left: 0px !important;}

.our-logistics-partner-carousel .card-body {  padding: 4px;}
h4.card-title {  font-size: 11px !important;}
.card-body p.card-text { font-size: 8px !important;}
.our-logistics-partner-carousel h6.sub-title {font-size: 11px;    margin-bottom: 0px;}
.sea-freight-country-name ul li img { width: 15px;}
h6.stu-class {  font-size: 9px !important;}
.our-logistics-partner-carousel .footer-total {  margin: 4px 0px 32px 0px;}
.sea-freight-country-name.cuntry-chnage li h5 { font-size: 7px !important;}
.footer-total h6 { font-size: 10px;}
.our-logistics-partner-carousel .footer-total p {  font-size: 10px;}
.our-logistics-partner-carousel a.btn.btn-primary.btn-view{   font-size: 9px !important; width: 73px; padding: 8px;}

.card-image-bg { margin: 0px;}
#slider .next-arrow label i.fa.fa-arrow-right {right: 0px;}
#slider .arrow label i.fa.fa-arrow-left {left: 0px;}



}


@media (min-width: 661px) and (max-width: 767px){
.banner-carousel-section .carousel-item img { width: 100%; min-height: 303px;}
.rgt-btn a { font-size: 16px;padding: 7px 23px;}
.navbar-light .navbar-brand { width: 85%;}
.rgt-btn h2 { font-size: 21px;}
.rgt-btn p {  font-size: 10px;}
div#navbarSupportedContent { float: left !important; width: 100% !important;background-color: rgba(0, 0, 0, 0.8313725490196079);}
.navbar-light .navbar-toggler { background-color: #fff !important;}

.last-freight-bottom{padding: 0px;}
.logistics-heading p{padding: 19px 4%;}
.freight-booking-left-inner-bottom h4{font-size: 50px;}
.about-freight-basket-heading h2{margin-top: 40px;}

.sea-freight-country-name ul li {  padding: 0px 0px;}


.icon-list ul li { display: inline-block;padding: 0px 1px;vertical-align: middle;}



.footer-section-inner.quick-nav-top { padding-left: 0px !important;}

.our-logistics-partner-carousel .card-body {  padding: 4px;}
h4.card-title {  font-size: 11px !important;}
.card-body p.card-text { font-size: 8px !important;}
.our-logistics-partner-carousel h6.sub-title {font-size: 11px;    margin-bottom: 0px;}
.sea-freight-country-name ul li img { width: 15px;}
h6.stu-class {  font-size: 9px !important;}
.our-logistics-partner-carousel .footer-total {  margin: 4px 0px 32px 0px;}
.sea-freight-country-name.cuntry-chnage li h5 { font-size: 7px !important;}
.footer-total h6 { font-size: 10px;}
.our-logistics-partner-carousel .footer-total p {  font-size: 10px;}
.our-logistics-partner-carousel a.btn.btn-primary.btn-view{   font-size: 9px !important; width: 73px; padding: 8px;}

.card-image-bg { margin: 0px;}
#slider .next-arrow label i.fa.fa-arrow-right {right: 0px;}
#slider .arrow label i.fa.fa-arrow-left {left: 0px;}

}

@media (min-width: 768px) and (max-width: 991px){
.banner-carousel-section .carousel-item img { width: 100%; min-height: 303px;}
.rgt-btn a { font-size: 16px;padding: 7px 23px;}
.navbar-light .navbar-brand { width: 85%;}   
.navbar-light .navbar-toggler { background-color: #fff !important;}
 div#navbarSupportedContent { float: left !important; width: 100% !important;background-color: rgba(0, 0, 0, 0.8313725490196079);}
.rgt-btn h2 { font-size: 37px;}  
  
.our-logistics-partner-carousel .card-body{padding: 18px 0px 0px 0px;}
.our-logistics-partner-carousel a.btn.btn-primary.btn-view{    padding: 10px 11px;    font-size: 14px;}
#slider .next-arrow label i.fa.fa-arrow-right {right: 0px;}
#slider .arrow label i.fa.fa-arrow-left {left: 0px;}
}


@media (min-width: 992px) and (max-width: 1199px){
.last-freight-heading h3{    font-size: 24px;}  
.main-basket-left { z-index: 6; position: relative;}
.carousel-caption { bottom: 0px; }
.sea-freight-area{padding: 16px 4px 4px 4px;}
.sea-freight-country-name ul li h5{font-size: 18px;}
.sea-freight-booking-button a{bottom:-51px;}
.our-logistics-partner-carousel a.btn.btn-primary.btn-view{    font-size: 10px;}

}


/**********************RESPONSIVE-CSS-END-HERE**********************/
.inner-page-main .fixed-top {
    position: unset;
    background: url(../images/bg-1.jpg);
}


.freight-basket-latestnews {
    padding: 100px 0px;
    background: #eef7ff;
}
.sea-freight-text li span {
    color: #fff;
}