.myprofile_backround {
    background-image: url('../images/placeholder-image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
   	height: 416px;
    position: relative;
    overflow: hidden;
    z-index: 0;
        margin-bottom: 14px;
}
.myprofile_backround .parallax__image-container .parallax__image {
    position: absolute;
    bottom: 0;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    display: none;
    -webkit-transform: translate(-50%);
    transform: translate(-49%);
    will-change: transform;
    transition: opacity .3s cubic-bezier(.25,.8,.5,1);
    z-index: 1;
}

.myprofile_backround .parallax__image-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    contain: strict;
    width: 99%;
}

.myprofile_backround .parallax__content {
    color: #fff;
    height: 100%;
    z-index: 2;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: flex-end;
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
}

.change-cover-button, .cover-content {
    position: absolute;
    bottom: 10px;
}
.white--text {
    color: #fff!important;
}
.regular-link {
    border-bottom: 1px dashed #333;
    cursor: pointer;
}

.change-cover-button {
    right: 10px;
}

.p-image {
    margin-bottom: 15px;
    text-align: right;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
        margin-right: 20px;
}

.custom-sidebar-myprofile{
    position: relative;
}

.profile-pic {
        position: relative;
}

.profile-pic .p-image {
    position: absolute;
    right: 7px;
    bottom: 2px;
    margin: 0;
}

.profile-pic .p-image i {
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

/*****************guri-css*********************/

body.dark-sidenav .left-sidenav {
    /*background-image: url(/images/dashboard-side-bg.jpg);*/ 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
        box-shadow: 2px 1px 5px 1px #7b7b7ba1;
    z-index: 999;
} 
body.dark-sidenav .left-sidenav .leftbar-profile {
    background-color: #a22d6d;
}
body.dark-sidenav .left-sidenav .topbar-left {
    background-color: #292e4000;
}
body.dark-sidenav .left-sidenav .leftbar-profile h5 {
    color: #ffffff;
    font-size: 20px;
}
body.dark-sidenav .left-sidenav .leftbar-profile p {
    color: #ffffff!important;
}
body.dark-sidenav .left-sidenav-menu li>a i {
    color: #fff;
    text-align: center;
    margin-right: 10px!important; 
}
body.dark-sidenav .left-sidenav-menu li>a {
    color: #ffffff;
     padding: 20px 18px 20px 10px!important;
}
.left-sidenav-menu li.active {
        list-style: none;
    display: block;
    width: 100%;
    margin-top: 0px;
    background-color: #ffffff24;
    border-radius: 0px;
    border-bottom: 0px;
}
body.dark-sidenav .left-sidenav-menu li.active>a {
    color: #ffffff;
}
body.dark-sidenav .left-sidenav-menu li.active>a i {
    color: #ffffff;
}
body.dark-sidenav .left-sidenav-menu li.active>a:hover i {
    color: #fff;
}
body.dark-sidenav .left-sidenav-menu li>a:hover i {
    color: #ffffff;
}
.navbar-custom .list-unstyled {
    margin-right: 12px;
}
.navbar-custom {
    background: #a22d6d;
} 
.navbar-custom .nav-link {
    padding: 0 0.75rem;
    color: #ffffff;
    line-height: 70px;
    max-height: 70px;
}
.nav-user img {
        height: 50px;
    width: 50px;
    border: 3px solid #fff;
}
.page-title-box {
    padding: 16px 13px;
    background-color: #fff;
    margin: 14px 0px;
    position: relative;
    border-radius: .25rem;
}

.nav-user .nav-user-name {
    vertical-align: middle;
    margin-left: 10px !important;
    font-size: 16px;
}
.nav-user .nav-user-name i {
    font-size: 12px;
    vertical-align: middle;
}
.left-sidenav-menu li>a i {
    width: 25px;
    display: inline-block;
    font-size: 20px;
    opacity: 0.9;
    color: #a6aed4;
    margin-right: 0;
    vertical-align: middle;
}
.dropdown-menu.dropdown-menu-right.show {
    transform: translate3d(0px, 70px, 0px)!important;
    box-shadow: 0px 0px 5px 1px #0000006b;
    border-radius: 0;
}

.navbar-custom .dropdown-menu-right .dropdown-item i {
    color: #d4435e !important;
}
.page-content-tab {
       /* background-image: url(../images/platform-featurs-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;*/
    background-color: #eee;
}
.card .card-body i {
    color: #d3435e;
}
.card-body {
    padding: 14px;
}
.card-body h5 {
    color: #d4435e;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 20px;
    position: relative;
}
/*.card-body h5:after {
    content: "";
    border-bottom: 2px solid #d4435e;
    width: 40px;
    height: 2px;
    position: absolute;
    bottom: auto;
        left: 0px;
    top: 34px;
}*/
.card-body h3 {
    color: #d4435e;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 20px;
    position: relative;
}
/*.card-body h3:after {
    content: "";
    border-bottom: 2px solid #d4435e;
    width: 40px;
    height: 2px;
    position: absolute;
    bottom: auto;
       left: 0;
    top: 36px;
}*/
.page-title-box .page-title {
    font-size: 24px;
    margin: 0;
    color: #d4435e;
}
/*.page-title-box .page-title:after {
    content: "";
    border-bottom: 2px solid #d4435e;
    width: 60px;
    height: 2px;
    position: absolute;
    bottom: auto;
    left: 14px;
    top: 56px;
}*/
.footer {
       border-top: 1px solid #cccccc;
    bottom: 0;
    padding: 20px;
    position: absolute;
    right: 0;
    left: 0;
    color: #a22d6d;
    background-color: #fff;
    font-weight: 500;
}
.profile-pic {
    position: relative;
    margin-bottom: 10px;
    border: 2px solid #da475d;
    max-width: 300px;
}
.cover-content {
   background-color: #a22d6de3;
    padding: 10px 30px;
    border-radius: 4px;
    margin-left: 10px;
    width: 30%;
}
.cover-content h2 {
    margin-top: 0px !important;
}
.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
    background: linear-gradient(14deg, #3f9cec 0%, rgba(80,110,228,0.6));
    color: #fff;
    -webkit-box-shadow: 0 7px 14px 0 rgba(80,110,228,0.5);
    box-shadow: 0 7px 14px 0 rgba(80,110,228,0.5);
    border-radius: 0;
    border: 1px solid #fff;
}
.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link {
    background: linear-gradient(14deg, #d4435e 0%, rgb(212, 67, 94));
    color: #fff;
    -webkit-box-shadow: 0 7px 14px 0 rgba(80,110,228,0.5);
    box-shadow: 0 7px 14px 0 rgba(80,110,228,0.5);
    border-radius: 0;
    border: 1px solid #fff;
}
.tab-content form .btn-primary {
    border-color: #da475d;
    background-color: #da475d;
    background-color: #da475d;
    width: 100%;
    max-width: 125px;
    display: inline-block;
    height: 46px;
    line-height: 30px;
    color: #ffff;
    border-radius: 30px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}
#profile form .btn-primary {
    border-color: #da475d;
    background-color: #da475d;
    background-color: #da475d;
    width: 100%;
    max-width: 200px;
    display: inline-block;
    height: 46px;
    line-height: 30px;
    color: #ffff;
    border-radius: 30px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #fff;
    background-color: #429cea;
    border-color: #eaf0f9 #eaf0f9 #3f9cec;
}
.modal-content .modal-header .modal-title, .modal-content .modal-footer .modal-title {
    color: #da475d;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
}
#account_information label {
    font-weight: 400;
    color: #656d9a;
    font-size: 18px;
}
#account_information .btn-primary {
    border-color: #da475d;
    background-color: #da475d;
    background-color: #da475d;
    width: 100%;
    max-width: 150px;
    display: inline-block;
    height: 46px;
    line-height: 30px;
    color: #ffff;
    border-radius: 30px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}
#previous {
     border-color: #da475d;
    background-color: #da475d;
    background-color: #da475d;
    width: 100%;
    max-width: 150px;
    display: inline-block;
    height: 46px;
    line-height: 30px;
    color: #ffff;
    border-radius: 30px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}
#company_information .btn-success {
     border-color: #da475d;
    background-color: #da475d;
    background-color: #da475d;
    width: 100%;
    max-width: 150px;
    display: inline-block;
    height: 46px;
    line-height: 30px;
    color: #ffff;
    border-radius: 30px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}
.left-sidenav-menu {
   padding: 0px 0px 20px 0px;
    background-image: url(/images/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.left-sidenav-menu li {
    list-style: none;
    display: block;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #c7c7c729;
}
.left-sidenav-menu li:first-child {
    border-top: 1px solid #c7c7c729;
}
.topbar {
    box-shadow: 0px 3px 10px 2px #0000002e;
}


/***********Checkbox-css*************/

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #da475d;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-body .form-control-file {
    color: #dc5b70;
}
.form-control-file {
    color: #db5166;
}
.modal-content .close {
    color: #da475d !important;
    font-size: 26px;
}
.modal-footer button.btn-secondary {
    background-color: #3f9cec;
    width: 100%;
    max-width: 100px;
    display: inline-block;
    height: 40px;
    line-height: 26px;
    color: #ffff;
    border-radius: 30px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 7px 14px 0 rgb(63, 155, 235);
    border: 0px;
}
.btn-secondary {
    background-color: #3f9cec;
    width: 100%;
    max-width: 100px;
    display: inline-block;
    height: 40px;
    line-height: 26px;
    color: #ffff;
    border-radius: 30px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 7px 14px 0 rgb(63, 155, 235);
    border: 0px;
}
.modal-footer button.btn-primary {
    background-color: #da475d;
    width: 100%;
    max-width: 100px;
    display: inline-block;
    height: 40px;
    line-height: 26px;
    color: #ffff;
    border-radius: 30px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 7px 14px 0 rgb(218, 71, 93);
    border: 0px;
}
.btn-primary {
    background-color: #da475d;
    width: 100%;
    max-width: 100px;
    display: inline-block;
    height: 40px;
    line-height: 26px;
    color: #ffff;
    border-radius: 30px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 7px 14px 0 rgb(218, 71, 93);
    border: 0px;
}
.card-body .form-group button.btn-danger {
     background-color: #3f9cec;
    width: 100%;
    max-width: 100px;
    display: inline-block;
    height: 40px;
    line-height: 26px;
    color: #ffff;
    border-radius: 30px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 7px 14px 0 rgb(63, 155, 235);
    margin-right: 5px;
    border:0px;
}
.btn-danger {
     background-color: #3f9cec;
    width: 100%;
    max-width: 100px;
    display: inline-block;
    height: 40px;
    line-height: 26px;
    color: #ffff;
    border-radius: 30px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 7px 14px 0 rgb(63, 155, 235);
    margin-right: 5px;
    border:0px;
}
.card-body .form-group button.btn-secondary {
    background-color: #da475d;
    width: 100%;
    max-width: 140px;
    display: inline-block;
    height: 40px;
    line-height: 26px;
    color: #ffff;
    border-radius: 30px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
     box-shadow: 0 7px 14px 0 rgb(218, 71, 93);
    border: 0px;
}

#addemployeeofc .form-group.float-right {
    margin-bottom: 20px;
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
}
.page-title .btn-success {
    color: #fff !important;
    background-color: #a22d6d!important;
    border-color: #a22d6d!important;
    box-shadow: 0 7px 14px 0 rgba(162, 45, 109, 0.5);
    position: absolute;
    right: 14px;
    top: 8px;
}

form.form-inline {
    display: inline-block;
    margin-left: 20px;
    width: 22%;
    position: relative;
    line-height: 70px;
    max-height: 70px;
}
.form-inline input.form-control.mr-sm-2 {
    background-color: #fff;
    border-bottom: 0px solid #a22d6d !important;
    border: none;
    border-radius: 0px;
    color: #a22d6d !important;
    width: 100%;
}
.search-btn {
    position: absolute;
    top: 16px;
    right: 0;
    box-shadow: none;
}
.search-btn i {
    color: #a22d6d;
}
.form-inline input.form-control.mr-sm-2::placeholder {
    color: #a22d6d;
}
.navbar-custom .topbar-nav li.show .nav-link {
    background-color: #a22d6d;
    color: #ffffff;
}
a.action-icons {
    padding-right: 5px;
    font-size: 15px;
}


select, label {
    text-transform: capitalize;
}

#addvesselschedule label {
   font-weight: 800;
}

ul.metismenu.left-sidenav-menu.slimscroll {
    overflow-y: scroll;
    height: 495px !important;
}

.active_drop .dropdown-menu{
    display: contents;
}


.se-pre-con {
    opacity: 0.3;
    display: none;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../images/Newloading.gif') center no-repeat #fff;
}

.notifier_icn {
    font-size: x-large;
}

#notifier:after {
    content: '';
    width: 14px;
    height: 14px;
    background-color: #ff0000;
    position: relative;
    color: #ff0000;
    opacity: 0;
    display: inline-block;
    border-radius: 20px;
    left: -10px;
    top: -8px;
    border: 2px solid #fff;
}

.tt-menu { width:300px; }
ul.typeahead{margin:0px;padding:10px 0px;}
ul.typeahead.dropdown-menu li a {padding: 10px !important;	border-bottom:#CCC 1px solid;}
ul.typeahead.dropdown-menu li:last-child a { border-bottom:0px !important; }
.bgcolor {max-width: 550px;min-width: 290px;max-height:340px;background:url("world-contries.jpg") no-repeat center center;padding: 100px 10px 130px;border-radius:4px;text-align:center;margin:10px;}
.demo-label {font-size:1.5em;color: #686868;font-weight: 500;}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
	text-decoration: none;
	outline: 0;
}

.comment-profile-photo {
    width: 30px;
    height: 30px;
    border: 1px solid #0000008c;
}
.fade.in {
  opacity: 1;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-backdrop.in {
  opacity: 0.5;
}
.post-profile-photo {
    width: 40px;
}
img.media-object.img-circle {
    width: 40px;
}
.popover .popover-title {
    font-size: inherit;
}
.popover {
    padding: 12px;
    width: 50%;
}